
  
#gradation {
  box-sizing: border-box;
  position: absolute;
  top: 14%; bottom: 0;
  left: 0; right: 0;

  background: linear-gradient(90deg, #54c9c2, #b0dea6);
  overflow: hidden;
  height: 400px;
  z-index : 1;
}
  
  .box {
    position: absolute;
    top: 0; bottom: 0;
    margin: auto -100px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background: linear-gradient(90deg, #54c9c2, #b0dea6) center center;
    background-size: 100vw 100vh;
  }
  
  .b1 {
    top: 0;
    animation: lr 5s ease-in-out infinite alternate;
    
  }
  
  .b2 {
    bottom: 0;
    animation: rl 5s ease-in-out infinite alternate;
  }
  
  @keyframes lr {
    0% {
      left: 0%;
    }
    100% {
      left: 100%;  
    }
  }
  
  @keyframes rl {
    0% {
      right: 0%;
    }
    100% {
      right: 100%;  
    }
  }
  
.background-sentence {
  position: relative;
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
  height: 200px;
  font-size: 50px;
  pointer-events: none;
}
